<% layout('layouts/boilerplate.ejs') %>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message %></h4>
            <hr>
            <hr>
            <h4 class="mb-0">Status Code : <%=err.statusCode %></h4>
        </div>
    </div>
</div>
