<% layout('layouts/boilerplate.ejs') %>
<div class="container">
  
<form action="/campgrounds" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
  <div class="row mt-4">
    <div class="col-8  offset-2 col-md-6 offset-md-3">
      <h2 class="text-center">New Campground</h2>
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            id="price"
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="campground[price]"
          required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          rows="3"
          name="campground[description]"
          required
        ></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="image" name="campground[image]" required multiple>
          <label class="custom-file-label" for="image">Choose Image(s)...</label>
        </div>
      </div>
      
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </div>
  </div>
</form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>

  (function () {
    'use strict'

    bsCustomFileInput.init();
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
  })();
</script>